/*
 * Personal student space on DCS server stylesheet
 * Author: Ginestra Ferraro
 */

/* Globals */

body {
    background: #fff;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    margin: 0;
}

.wrapper {
    background: #f8f8f8;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 20px;
}

/* Typography */

/* Open Sans Condensed: https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700; */

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf") format("trutype");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-LightItalic.ttf") format("trutype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf") format("trutype");
    font-weight: 700;
}